<!--The '|' in angular is called a pipe and it's agood way to format strings. therre are many built-in pipe methods and you can create mew ones/-->
<h2>My Heroes</h2>
<!--make a list that shows all heros. make a recursive method that creates a list item for each hero. Put a button inside the listitem to make the heroinfo clickable-->
<ul class="heroes">
  <li *ngFor="let hero of heroes">
<!--    [class.selected]= snap ik niet helemaal. het zorgt ervaar dat conditional formattig wordt geapplied als de hero selected is-->
    <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button>
  </li>
</ul>



<!--<div><span>name: </span>{{hero.name}}</div>-->
