<!--The '|' in angular is called a pipe and it's agood way to format strings. therre are many built-in pipe methods and you can create mew ones/-->
<h2>My Heroes</h2>
<!--make a list that shows all heros. make a recursive method that creates a list item for each hero. Put a button inside the listitem to make the heroinfo clickable-->
<ul class="heroes">
  <li *ngFor="let hero of heroes">
<!--    [class.selected]= hero === selectedHeroe is boolean. Dus class.selected = true (if this hero is the selected hero)-->
    <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button>
  </li>
</ul>

<!--&lt;!&ndash;app-hero-detail is de selecter van hero.detail.component. Dit component heeft een hero nodig als variabele. Dus die wordt ook mee gegeven&ndash;&gt;-->
<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->

